
.cursor{
    pointer-events: none;
    position: absolute;
    display: block;
    border-radius: 0;
    transform-origin: center center;
    z-index: 99998;
    mix-blend-mode: difference;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 1s ease-in-out;
    transform: scale(1);
}

.cur_move{
    transform: scale(0.3);
    transition: transform 5s ease-out;
    transition-delay: .2s;
}


