.hero{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 700px;
    color: var(--light);
}


.title {
    font-size: 420px;
    width: fit-content;
    height: 400px;
    overflow: hidden;
    color: var(--light);
    font-weight: 500;
    margin: 0 auto;
    margin-top: 8%;
    letter-spacing: -20px;
  }

  .title span{
    position: relative;
    bottom: -100%;
  }

  .title .animateTitle {
    animation: fadeIn 1s cubic-bezier(0, 0.55, 0.45, 1) 0s 1 normal forwards;
    opacity: 0;
  }
     
  @keyframes fadeIn {
    from {
      opacity: 1;
      bottom: -100%;
    }
    to {
      opacity: 1;
      bottom: 0;
    }
  }

.hero h2{
    width: fit-content;
    font-size: 30px;
    font-weight: 400;
    padding: .5rem 1.5rem;
    border: 1px solid var(--light);
    border-top-color: var(--light);
    border-bottom-color: var(--light);
    border-radius: 3rem;
    margin: 0 auto;
    margin-top: 5rem;
    position: relative;

    span{
        display: block;
        width: 1px;
        height: 5px;
        background-color: #272727;
        position: absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-100%);
        z-index: 4;
    }

    span:nth-child(2){
        top: 98%;
    }

    &::after , &::before{
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 80%;
        background-color: var(--dark);
        top: -1px;
        transition: width .3s ease-in-out;
    }

    &::after{
        top: 97%;
    }

    &:hover{
        border-top-color: var(--light);
        border-bottom-color: var(--light);
        span{
            background-color: transparent;
        }
        &::after,&::before{
            background-color: var(--dark);
            width: 0;
        } 
    }
}
